# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime.
NODE_ENV=development

# Application Port - express server listens on this port (default 3000).
PORT=5001

# MySQL Setup
DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_DIALECT=
DB_USERNAME=
DB_PASSWORD=